@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{  
    font-family: 'Alfa Slab One', cursive; 
    padding: 0%;
    margin: 0%;
}
body{
    position: relativo;
    height: 100vh;
    width: 100vw;
    background-color: #accfee;
}

canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    padding: 6px;
}
p{
    text-align: center;
    font-size: 0.6em;
    color: rgb(87, 85, 85);
    margin-bottom: 5px;
}
div{
    text-align: center;
}